# Blockchain runtime data and secrets
cluster/datadir-backup-*/
cluster/node1/geth/
cluster/node2/geth/
cluster/node3/geth/
cluster/node1/keystore/
cluster/node2/keystore/
cluster/node3/keystore/
cluster/node1/password.txt
cluster/node2/password.txt
cluster/node3/password.txt
cluster/node1/genesis.json
cluster/node2/genesis.json
cluster/node3/genesis.json


# Geth runtime files
cluster/node*/geth.ipc
cluster/node*/geth/nodekey
cluster/node*/static-nodes.json

# Local environment files
.env
.env.*

# Datas
data/